.form{
	width: 340px;
	margin: 50px auto;
}
.form form{
	background-color: lightgray;
	padding: 30px;
	border-radius: 25px
}
.header{
	color: black;
}
.header:hover{
	color: black;
}
#add-event-button{
	padding-top: 5px
	background-color: #4BD606;
	border-color: black;
}
#subtract-event-button{
	background-color: #D62906;
	border-color: black;
}
#logout-button{
	position: absolute;
	top: 0;
	right: 0;
}
.card{
	border: solid #0D47A1 3px;
	border-radius: 25px
}
#accept-entries-toggle{
	border: solid black 1px;
	padding-left: 10px
}
td{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
th{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
